<header>
    {{!-- <img id="burgerImg" alt="Burger Img" src="assets/images/burger.png"> --}}
    <h1 id="header-title">Eat-Da-Burger!</h1>
</header>


<form class="form-group" action="/submit" method="post">
    <label for="burgerInput">Enter Your Burger:</label>
    <input type="text" id="burgerInput" name="enterBurger">
    <input type="submit" value="Submit">
</form>

{{!-- not devoured list --}}
<ul id="notDevouredList">
    {{#each burger}}
    <li>
        <p>
            {{this.burgerName}}
            <button class="devourBtn"></button>
        </p>
    </li>
    {{/each}}
</ul>

<script src="assets/js/burger.js" type="text/javascript"></script>