<header>
    <h1 id="header-title">Eat-Da-Burger!</h1>
</header>



<div id="burgerInput-div">
    <input id="burgerInput" type="text" placeholder="Start an Order...">
    <button id="burgerSubmit">Submit</button>
</div>


