<header>
    <img id="burgerImg" alt="Burger Img" src="assets/burger.png">
    <h1 id="header-title">Eat-Da-Burger!</h1>
</header>


<form class="form-group" action="/submit" method="post">
    <label for="burgerInput">Enter Your Burger:</label>
    <input type="text" id="burgerInput" name="enterBurger">
    <input type="submit" value="Submit">
</form>

{{!-- not devoured list --}}
<ul id="notDevouredList">
    {{#each burger}}
    <li>
        <p>
            {{this.burgerName}}
            <button click_data="{{this.id}}" class="devourBtn">devour</button>
        </p>
    </li>
    {{/each}}
</ul>

<ul id="devouredList">

</ul>

{{!-- <script src="/public/assets/js/burger.js" type="text/javascript"></script> --}}

<script>

    var notDevouredList = document.querySelectorAll("#notDevouredList li").length;
    console.log(notDevouredList);

    for (var i = 0; i < notDevouredList; i++) {
        //var devourClick = document.getElementsByClassName('devourBtn')[i].getAttribute('click_data');

        var devourClick = document.getElementsByClassName('devourBtn')[i];

        moveDevour(devourClick);

    }

    function moveDevour(devourClick) {

        devourClick.onclick = function() {
            var getData = this.getAttribute('click_data');
            alert(getData);
        }
    }
</script>