<!DOCTYPE html>
<html>
    <head>
        <title>Burger Handlebars</title>

        <link rel="stylesheet" href="../../../assets/style.css">
    </head>


    <body>
        
        {{{ body }}}

    </body>
</html>